<div action="#" class="container-aside just col-3 text-white">
    <aside>
        <div class="col"><h3>¿Cómo realizar una publicación?</h3></div>
        <div class="col">
            <ul>
                <li class="py-4">Dale click a la pestaña "Nueva Publicación" que se encuentra en la barra de navegación</li>
                <li class="py-4">Completá todos los datos solicitados (los que no dicen 'opcional')</li>
                <li class="py-4">Dale al botón 'Guardar'</li>
            </ul>
       </div>
       
       <a class="btn btn-warning" href="/admin/editar" role="button">Editar Publicaciones</a>

    </aside>
</div>

