<div class="container-aside col-3 text-white">
    <aside>
        <h3>¿Cómo realizar una publicación?</h3>
        <ul class="lh-base ">
            <li>Dale click a la pestaña "Nueva Publicación" que se encuentra en la barra de navegación</li>
            <li>Completá todos los datos solicitados (los que no dicen 'opcional')</li>
            <li>Dale al botón 'Guardar'</li>
        </ul>
    </aside>
</div>
