<div action="#" class="container-aside just col-3 text-white">
    <aside>
        <div class="col"><h3>¿Cómo realizar una publicación?</h3></div>
        <div class="col">
            <ul>
                <li class="py-4">Dale click a la pestaña "Nueva Publicación" que se encuentra en la barra de navegación</li>
                <li class="py-4">Completá todos los datos solicitados (los que no dicen 'opcional')</li>
                <li class="py-4">Dale al botón 'Guardar'</li>
            </ul>
        </div>
        <div class="col py-3" id="actualizar-publicacion">
            <button type="submit" class="btn btn-warning">Actualizar Publicación</button>
        </div>
        <div class="col py-3" id="borrar-publicacion">
            <button type="submit" class="btn btn-warning">Borrar Publicación</button>
        </div>
    </aside>
</div>
