<%-include('partials/header')  %>
<%-include('partials/navbar')  %>


    <div  class="container mt-5" >
        <div class="row">
            <div class="col">
                <h1 class="text-center text-white py-4">Nueva Publicación</h1>
                <form action="#" id="form-guardar">
                    <div class="mb-3">
                        <input type="text" id="titulo-post" class="form-control" placeholder="Título del Post">
                    </div>
                    
                    <div class="mb-3">
                        <div class="form-floating">
                            <textarea id="detalle-post" class="form-control" placeholder="Ingrese una descripción para el Post" id="floatingTextarea2" style="height: 200px"></textarea>
                            <label for="floatingTextarea2">Ingrese una descripción</label>
                          </div>
                    </div>

                    <div class="mb-3">
                        <input type="date" name="" id="fecha">
                    </div>

                    <div class="mb-3">
                        <input type="text" id="url-img" class="form-control" placeholder="Url imagen (opcional)">
                    </div>
                    <button type="submit" id="btn-guardar" class="btn btn-primary">
                        Guardar
                    </button>
                  </form>
            </div>
        </div>
    </div>


    <script src="/js/admin.js"></script>

    

<%-include('partials/footer')  %>