<%-include('partials/header')  %>
<%-include('partials/navbar')  %>


  
    <div class="container-titulo">
        <div class="row">
            <h1 class="text-center py-3">Lista de Publicaciones</h1>
    </div>
    </div>
    <!-- Formulario para crear publicaciones -->
    <div class="container d-flex justify-content-between">
        <div class="row" >
            <div class="col-9" id="container-publicacion">
                <main class="gap-2 d-flex flex-column" id="lista-publicaciones">
                </main>
            </div>
            <%-include('partials/aside')  %>
        <div class="row">
            <div class="col-12">
            <footer class=" bg-dark text-white" >
                <p>&#169 Todos los derechos reservados</p>
            </footer>
            </div>
        </div>
    </div>
    
    

<script src="/js/home.js"></script>

<%-include('partials/footer')  %>
