* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    height: 250px;
    width: 325px;
}

body{
    background-color: rgb(154, 224, 175);
    background-image: url(https://i.ytimg.com/vi/XPZb8HoQgH8/maxresdefault.jpg);
}

#lista-publicaciones{
    margin: 35px;
    padding: 5px;
    
}

#container-publicacion{
    margin: 35;
    padding: 5px;
    background-color: rgb(219, 197, 0);
    border-radius: 25px;
}


.container-aside{
    background-color: rgb(42, 110, 84);
    border-radius: 25px;
    height: 800px;
}

.container-descripcion{
    background-color: antiquewhite;
    margin: 35;
    padding: 80px;
    border-radius: 25px;

}
