* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    height: 250px;
    width: 325px;
}

body{
    background-color: rgb(154, 224, 175);
    background-image: url(https://fondosmil.com/fondo/2257.jpg);
}

#lista-publicaciones{
    margin: 35px;
    padding: 5px;
    
}

#container-publicacion{
    margin: 35;
    padding: 5px;
    background-color: antiquewhite;
    border-radius: 25px;
}


.container-aside{
    background-color: rgb(98, 185, 124);
    border-radius: 25px;
}
.container_titulo{
    background-color: rgb(98, 185, 124);
    border-radius: 25px;
}
