* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;;
}
img {
    height: 250px;
    width: 325px;
}

body{
    display: flex;
    min-height: 100%;
    flex-direction: column;
    background-color: rgb(146, 233, 255);
}
footer{
    margin-top: auto;
}

#lista-publicaciones{
    margin: 35px;
    padding: 5px;
    
}

#container-publicacion{
    margin: 35;
    padding: 5px;
    background-color: rgb(32, 32, 32);
    border-radius: 25px;
}


.container-aside{
    background-color: rgb(95, 95, 95);
    border-radius: 25px;
    height: 800px;
}

.container-descripcion{
    background-color: rgb(255, 255, 255);
    margin: 35;
    padding: 80px;
    border-radius: 25px;

}

